.list-container {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  text-align: center;
  background: var(--secondary);
  border: 3px solid var(--accent);
  padding: 0.8em;
  height: auto;
  margin-bottom: 100px;
}

.reset-button {
  margin: 10px 5px;
  width: 100px;
  font-size: 0.5em;
}

.search-style {
  width: 8em;
}

ul {
  list-style-type: none;
  padding: 0;
}
