.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background: var(--secondary);
  border: 3px solid var(--accent);
  padding-bottom: 0.3em;
  margin-bottom: 100px;
}

.add-title {
  flex: 0 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frequency {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-item-p-tag {
  font-size: 20px;
  color: var(--primary);
}

p {
  color: var(--accent);
  font-size: 0.75em;
  padding: 0 1em 0 1em;
}

.add-item-button {
  margin-top: 20px;
}
