/* -------------- GLOBAL ---------------- */

* {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 25px;
}

.App {
  height: 100%;
  width: 100%;
}

button {
  border: var(--tertiary) solid 3px;
  border-radius: 0.2em;
  color: var(--primary);
  background-color: var(--tertiary);
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: var(--accent);
}

input {
  border-style: solid;
}

.search-input {
  border-radius: 0.2em;
  border: 1px solid var(--accent);
  height: 45px;
  padding-left: 5px;
  max-width: 225px;
  background: white;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 2em;
  color: var(--tertiary);
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 280px) {
  .App {
    width: 256px;
    margin: 3% auto;
  }
}

@media only screen and (min-width: 575px) {
  .App {
    width: 535px;
    margin: 3% auto;
  }
}
