:root {
  --primary: #151e3f;
  --secondary: #f2f3d9;
  --tertiary: #c16e70;
  --accent: #dc9e82;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary);
  height: 100%;
  width: 100%;
}
